* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/backgroud.svg) no-repeat center/cover;

  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5em;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

  margin-top: 0.25rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 510px) {
  main {
    background: url(images/desktop.svg) no-repeat center/cover;
    background-color: black;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }

  .container {
    background: url(images/masktop.svg) no-repeat center/cover;
    background-color: #201f23;

    max-width: 359px;
    height: 540px;

    margin-top: 8.75rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .avatar {
    position: relative;
  }
  .avatar > span {
    margin-top: 4.5rem;
  }
  .avatar > img {
    margin-top: 4.5rem;
  }
}
